@keyframes moveInRight {
  0% {
      transform: translateX(0);
  }

  50% {
      transform: translateX(.8rem);
  }

  100% {
      transform: translateX(0);
  }
}

@keyframes buttonHover {
  0% {
      transform: translateY(0);
  }

  50% {
      transform: translateY(-.2rem);
  }

  100% {
      transform: translateY(-.5rem);
  }
}