@keyframes moveInRight {
  0% {
      transform: translateX(0);
  }

  50% {
      transform: translateX(.8rem);
  }

  100% {
      transform: translateX(0);
  }
}

@keyframes buttonHover {
  0% {
      transform: translateY(0);
  }

  50% {
      transform: translateY(-.2rem);
  }

  100% {
      transform: translateY(-.5rem);
  }
}

@keyframes fadeIn {
    0% {
        display: none;
        opacity: 0;
        width: 0px;
    }

    1% {
        display: block;
        opacity: 0;
        width: 1px;
    }

    70%{
        width: 85%;
    }

    100% {
        display: block;
        opacity: 1;
        width: 80%;
    }
}

@keyframes fromRight {
    0% {
        opacity: 0;
        transform: translateX(20rem);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    0% {
        display: block;
        opacity: 1;
    }

    99% {
        display: block;
        opacity: 0;
    }

    100% {
        display: none;
        opacity: 0;
    }
}