//COLORS
$color-primary-blue: #146b7e;
$color-secondary-orange: #ee7133;
$color-tertiary-purple: #82358b;

$color-white: #fff;
$color-light-gray: #f4f4f4;
$color-black: #000;

//FONTS
$default-font-size: 1.6rem;