.about {
  padding-top: 13rem;

  &__row {
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-wrap: wrap;
    margin-top: $margin-small;

    &:last-child {

      @include respond(tab-port) {
        margin: 0 0 -16rem 0;
      }
      
      @include respond(phablet) {
        margin: 0 0 16rem 0;
      }
    }

    @include respond(tab-port) {
      flex-direction: column;
      align-items: center;
    }
  }
}
