.faq {
  background-image: url(../img/background/faq-background.png);
  background-size: cover;
  background-position: center;
  padding: 32rem 0 27rem 0;

  @include respond(tab-port) {
    padding: 20rem 0 1rem 0;
  }

  @include respond(phablet) {
    background-image: none;
    background-color: $color-light-gray;
    padding: $margin-medium 0 $margin-small 0;
  }

  &__row {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
    flex-wrap: wrap;
    max-width: 100rem;
    margin: auto;
  }

  &__logo {
    @include respond(phablet) {
      margin-top: $margin-small;
    }
  }

  &__img {
    @include respond(phablet) {
      height: 20.1rem;
    }

    @include respond(phone) {
      height: 26.8rem;
    }
  }
}