.fast {
    background-image: url(../img/background/fast-background.jpg);
    background-size: cover;
    background-position: center;
    height: 111vh;
    padding-top: 4rem;

    @include respond(phablet) {
      background-image: none;
      background-color: $color-tertiary-purple;
    }
}

.fast-list {
  font-size: 28px;
  font-weight: bold;
  list-style-type: none;
  margin-left: 39rem;
  margin-top: 5rem;

  &__item{
    margin-bottom: 4rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
  }

  &__number {
    font-size: 70px;
    line-height: 1.3;
    text-align: center;
    height: 78px;
    width: 78px;
    border-radius: 50%;
    background-color: $color-secondary-orange;
    margin-right: 2rem;
    display: inline-block;
  }

  &__text {
    min-width: 60rem;
  }
}