.footer {
    padding: $margin-small 0 0 0;

    &__header {
        display: flex;
    }

    &__container {
        max-width: 100rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        margin: $margin-small auto;
    }

    &__left {

        @include respond(phablet) {
            order: 1;
            margin-top: $margin-small;
        }

        &--map {
            @include respond(tab-port) {
                height: 38rem;
            }

            @include respond(phablet) {
                height: 50rem;
            }
        }
    }

    &__right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        &--top {
            height: 50%;
        }

        &--bottom {
            height: 50%;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .address {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                margin: 4rem;
            }

            .contact {
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
            }
        }
    }

    .address {
        color: $color-tertiary-purple;
    }

    &__bottom {
        width: 100%;
        padding: .5rem;
        background-color: $color-light-gray;
        color: $color-tertiary-purple;
        font-size: 1.6rem;
        text-transform: uppercase;
        text-align: center;
    }
}