.header {
  background-image: url(../img/background/header-background.png);
  background-size: cover;
  background-position: center;
  font-weight: bold;
  padding: 3.8rem 4.5rem;
  height: 132rem;

  @include respond(phoneL) {
    background-image: url(../img/background/header-background-small.jpg);
    background-size: cover;
    background-position: center;
  }

  @include respond(laptop) {
    font-size: 2.5rem;
    padding: 2.5rem 2rem;
  }

  &__top-bar {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 190rem;
  }

  &__logo-img {
    @include respond(tab-land) {
      height: 5rem;
    }
  }

  &__logo-box {
    margin-top: 0.6rem;
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-around;

    @include respond(tab-port) {
      display: none;
    }
  }

  &__list-link {
    &:link,
    &:visited {
      font-weight: 600;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 2px;
      color: $color-white;
      padding: 1rem 1.6rem;
      display: block;
      cursor: pointer;
      transition: all 0.3s;
    }
    &:hover {
      color: $color-secondary-orange;
    }

    @include respond(laptop) {
      padding: 1rem 0.6rem;
    }
  }

  &__info-box {
    width: 27.5rem;
    background-color: $color-secondary-orange;
    padding: 1rem;
    border-radius: 2.5rem;
  }

  &__socials {
    margin-left: 2.5rem;
    height: 2rem;

    &--link {
      display: block;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }

    .logo-facebook {
      height: 2.5rem;
    }
  }
}
