.header {
  background-image: url(../img/background/header-background.png);
  background-size: cover;
  background-position: center;
  font-weight: bold;
  padding: 3.8rem 4.5rem;
  height: 132rem;
  position: relative;

  @include respond(phoneL) {
    background-image: url(../img/background/header-background-small.jpg);
    background-size: cover;
    background-position: center;
  }

  @include respond(laptop) {
    font-size: 2.5rem;
    padding: 2.5rem 2rem;
  }

  &__top-bar {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 190rem;
  }

  &__logo-img {
    @include respond(tab-land) {
      height: 5rem;
    }
  }

  &__logo-box {
    margin-top: 0.6rem;
  }

  &__navigation {
    @include respond(tab-port) {
      width: 58%;
      display: flex;
      justify-content: flex-end;
    }
  }

  &__list {
    list-style-type: none;
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: space-around;

    @include respond(tab-port) {
      display: none;
      position: relative;
    }
  }

  .icon {
    color: white;
    display: none;
    float: right;
    justify-self: end;
    font-size: 5rem;

    &:active {
      color: $color-secondary-orange;
    }

    @include respond(tab-port) {
      display: block;
    }
  }

  &__list-link {
    &:link,
    &:visited {
      font-weight: 600;
      text-transform: uppercase;
      text-decoration: none;
      letter-spacing: 2px;
      color: $color-white;
      padding: 1rem 1.6rem;
      display: block;
      cursor: pointer;
      transition: all 0.3s;
    }
    &:hover {
      color: $color-secondary-orange;
    }

    @include respond(laptop) {
      padding: 1rem 0.6rem;
    }
  }

  &__info-box {
    width: 27.5rem;
    background-color: $color-secondary-orange;
    padding: 1rem;
    border-radius: 2.5rem;
  }

  &__socials {
    margin: 0 2rem 2rem 2.5rem;
    height: 2rem;

    &--link {
      display: block;
      transition: transform 0.3s;

      &:hover {
        transform: scale(1.1);
      }
    }

    .logo-facebook {
      height: 2.5rem;
    }
  }
}

.responsive {
  @include respond(tab-port) {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 30%;
    min-width: 54rem;
    @include absoluteCenter;
    top: 22%;
    font-size: 3.5rem;
    border-radius: 3px;
    text-align: right;
    background: rgba(0, 0, 0, 0.6);
    box-shadow: 0 0 4rem -1rem rgba(0, 0, 0, 0.75);
    z-index: 9999;
  }

  @include respond(phoneS) {
    min-width: 51rem;
  }
}
