.header {
    background-image: url(../img/header-background.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 5rem;
    height: 100vh;
}

.navigation {
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 190rem;

    &__logo-box {
        margin-top: 1.6rem;
    }

    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
       
        display: flex;
    }

    &__link {
        padding: 1rem 2rem;
    }

    &__link:hover,
    &__link:active {
        color: $color-secondary-orange;
    }

    &__info-box {
        width: 27.5rem;
        background-color: $color-secondary-orange;
        padding: 1rem;
        border-radius: 2.5rem;
    }

    &__socials--facebook {
        margin-left: 2.5rem;
        height: 2rem;

        .logo-facebook {
            height: 2.5rem;
        }
    }
}