.header {
    background-color: $color-primary-blue;

}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5.8rem;

    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
       
        display: flex;
        
        &-item {
            padding: 1rem 2rem;
        }
        
        .navigation-link:link,
        .navigation-link:visited {
            text-decoration: none;
            color: $color-white;
        }

        .navigation-link--orange:link,
        .navigation-link--orange:visited {
            color: $color-secondary-orange;
            text-decoration: none;
        }
    }

    &__info-box {
        width: 27.5rem;
        background-color: $color-secondary-orange;
        padding: 1rem;
        border-radius: 2.5rem;
    }
}