.header {
    background-color: $color-primary-blue;
    padding: 5rem;
}

.navigation {
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__list {
        list-style-type: none;
        margin: 0;
        padding: 0;
       
        display: flex;
    }

    &__item {
        padding: 1rem 2rem;
    }

    .link-nav:hover,
    .link-nav:active {
        color: $color-secondary-orange;
    }

    &__info-box {
        width: 27.5rem;
        background-color: $color-secondary-orange;
        padding: 1rem;
        border-radius: 2.5rem;
    }
}