.about-icon {
  width: 37rem;

  &__img-box {
    width: 37rem;
    height: 28rem;
    // padding: 5rem 7rem;
    display: flex;
    align-content: center;
    justify-content: center;
    position: relative;

    &::after {
      content: url(../../img/section_about/about-section-arrow.png);
      position: absolute;
      top: 50%;
      right: 0;
    }
  }

  &__img {
    position: absolute;
    @include absoluteCenter;
  }

  &__text {
    color: $color-tertiary-purple;
    text-align: center;
    line-height: 1.4;
    padding: 2.4rem;

    &--blue {
      color: $color-primary-blue;
    }
  }
}