.about-icon {
  width: 37rem;
  height: 39.5rem;
  padding-bottom: 1rem;
  transition: all .2s ease-in;
  position: relative;
  font-size: 25px;

  @include respond(laptop) {
    height: 49.4rem;
    width: 46.2rem;
    padding-top: 3rem;
  }

  @include respond(tab-port) {
    height: 44rem;
    width: unset;
    margin-bottom: 3rem;
  }

  @include respond(phablet) {
    height: 58rem;
  }

  &--1 {
    @include respond(tab-port) {
      padding: 2rem 0;
    }
  }

  &--2 {
    @include respond(tab-port) {
      padding: 0;
    }

    @include respond(phablet) {
      padding: 2.6rem 0;
    }
  }

  
  
  &::after {
    content: url(../../img/section_about/about-section-arrow.png);
    position: absolute;
    top: 28%;
    right: -7%;

    @include respond(tab-port) {
      display: none;
    }
  }

  &--last::after {
    content: "";
  }

  &:hover {
    cursor: pointer;
    transform: scale(1.03);
    background-color: $color-white;
    box-shadow: 0 0 2rem rgba($color-black, .3);
  }

  &:hover::after {
    animation: moveInRight .8s .2s;
  }

  &__img-box {
    width: 37rem;
    height: 25rem;
    // padding: 5rem 7rem;
    display: flex;
    align-content: center;
    justify-content: center;
    border-radius: 2px;
    position: relative;
    margin: 0 auto;

    @include respond(tab-port) {
      width: unset;
    }

    &--5 {
      @include respond(tab-port) {
        margin-bottom: 3rem;
      }
    }
  }

  &__img {
    @include absoluteCenter;
  }

  &__text {
    color: $color-tertiary-purple;
    text-align: center;
    line-height: 1.4;
    padding: 0 2.4rem;

    &--blue {
      color: $color-primary-blue;
      display: inline-block;
    }

    &--purple {
      display: inline-block;
    }

    &--3 {
      @include respond(phablet) {
        margin-top: 3rem;
      }
    }

    @include respond(tab-port) {
      width: 44rem;
    }
  }

  &--4 {
    @include respond(tab-port) {
      height: 43rem;
      padding: 2rem 0;
    }
  }

  &--5 {
    @include respond(tab-port) {
      padding: .5rem 0;
    }

    @include respond(phablet) {
      padding: 3.5rem 0;
    }
  }

  &--last {
    @include respond(tab-port) {
      padding: 0;
    }

    @include respond(phablet) {
      padding: 2rem 0;
    }
  }

  &--3 {
    @include respond(tab-port) {
      padding: .5rem 0;
    }

    @include respond(phablet) {
      padding: 5rem 0;
    }
  }
}