.collapsible {
  max-width: 100rem;
  font-weight: bold;
  text-align: justify;
  margin: $margin-big auto $margin-big auto;

  &__btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: $color-light-gray;
    border: none;
    border-top: 3px solid $color-tertiary-purple;
    padding: 2rem;
    cursor: pointer;

    &:last-child {
      border-bottom: 3px solid $color-tertiary-purple;
    }
  }

  &__content {
    color: $color-primary-blue;
    padding: 2rem;
    text-align: justify;
    h4 {
      margin-top: 1rem;
    }
  }
}