.collapsible {
  max-width: 100rem;
  font-weight: bold;
  text-align: justify;
  margin: $margin-big auto $margin-big auto;

  &:last-child {
    border-bottom: 3px solid $color-tertiary-purple;
  }

  &__btn {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background-color: inherit;
    border: none;
    border-top: 3px solid $color-tertiary-purple;
    padding: 2rem;
    outline: none;
    cursor: pointer;

    &:hover {
      background-color: $color-white;
    }
  }

  &__wrapper {
    display: block;
    max-height: 9999px;
    overflow: hidden;
    &--animated {
      transition: max-height 1s ease-in-out;
    }
  }

  &__content {
    color: $color-primary-blue;
    background-color: $color-white;
    padding: 2rem;
    text-align: justify;
    overflow: hidden;
    background-color: $color-white;

    h4 {
      margin-top: 1rem;
    }
  }

  &__arrow {
    transform: rotateX(0deg);
    transition: transform 0.2s ease;
  }
}

.active {
  background-color: $color-white;
  transform: rotateX(0deg);
}