.link {
    text-decoration: none;
    color: $color-primary-blue;
    display: inline-block;
    margin: 0 .7rem;

    &:hover {
        color:$color-primary-blue-light;
    }

    &--purple {
        color: $color-tertiary-purple;

        &:hover {
            color: inherit;
        }
    }
}